bootstrap linguist-vendored
doxygen/html/*.html linguist-documentation
doxygen/html/*.js linguist-documentation
doxygen/html/search/*.html linguist-documentation
doxygen/html/search/*.js linguist-documentation
